<h1>Noticias</h1>
<br>
<br>
<div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;">
    <h3>
        En Z&C ZAPATOS & CO, ponemos a disposición de nuestros clientes, la oportunidad de conocer todo el proceso de elaboración 
        de un zapato de calidad desde 0, paso a paso y de la forma más sencilla.
    </h3>
    <br>
<br>
</div>

  <div class="row">                                            
 
    <div class="col-md-4 animated fadeIn fast" >
        <img class="card-img-top img-fluid" src="../../../assets/img/Impresion.jpg" height="500px" width="500px">
        <div class="card-block">
            <h5 class="card-title">LAS CLAVES DE LA IMPRESIÓN 3D PARA CALZADO</h5>
            <p class="card-text">Las nuevas tecnologías evolucionan a una gran 
                velocidad, por lo que siempre hemos considerado
                 que la impresión 3D de calzado no es el futuro, 
                 es el PRESENTE. Recientemente hemos tomado la 
                 decisión de dar un paso adelante y ofrecer contenido…</p>
                 <a href="https://reinventandoelcalzado.es/las-claves-de-la-impresion-3d-para-calzado/" class="btn btn-primary">Mas Informacion</a>
          </div>
    </div>
</div>
<br>
<br>
<div class="row">                                            
 
    <div class="col-md-4 animated fadeIn fast" >
        <img class="card-img-top img-fluid" src="../../../assets/img/zapatillas-deportivas.jpg" height="500px" width="500px">
        <div class="card-block">
            <h5 class="card-title">5 ZAPATILLAS DEPORTIVAS "MADE IN CHINA"</h5>
            <p class="card-text">Es conocido a nivel mundial que el gigante asiático tiene una de las principales 
                industrias zapateras. Hasta el momento tan solo estábamos acostumbrados a ver como 
                empresas europeas y americanas llevaban sus fabricaciones a China, pero ¿conoces…</p>
                 <a href="https://reinventandoelcalzado.es/5-zapatillas-deportivas-made-in-china/" class="btn btn-primary">Mas Informacion</a>
          </div>
    </div>
</div>
<br>
<br>
<div class="row">                                            
 
    <div class="col-md-4 animated fadeIn fast" >
        <img class="card-img-top img-fluid" src="../../../assets/img/Adornos.jpg" height="500px" width="500px">
        <div class="card-block">
            <h5 class="card-title">JOYAS PARA EL CALZADO</h5>
            <p class="card-text">Continuamos con nuestra serie de post de Historias del Calzado hablando de una mujer entregada desde muy pequeña 
                a nuestra industria zapatera. Creando auténticas joyas, se ha encargado de enriquecer los diseños de cada uno de los zapatos…</p>
                 <a href="https://reinventandoelcalzado.es/joyas-para-el-calzado/" class="btn btn-primary">Mas Informacion</a>
          </div>
    </div>
</div>
<br>
<br>
<div class="row">                                            
 
    <div class="col-md-4 animated fadeIn fast" >
        <img class="card-img-top img-fluid" src="../../../assets/img/Regalando-zapatos.jpg" height="500px" width="500px">
        <div class="card-block">
            <h5 class="card-title">ZAPATOS CON ANCHOS ESPECIALES, ESTAS SON LAS 7 CARACTERÍSTICAS QUE DEBEN TENER</h5>
            <p class="card-text">Esta semana recibimos un correo electrónico con la consulta de una de nuestras lectoras, que a su vez nos contaba su historia. 
                Nos preguntaba si le podíamos informar sobre las características de los zapatos con anchos especiales y si conocíamos…</p>
                 <a href="https://reinventandoelcalzado.es/zapatos-con-anchos-especiales-estas-son-las-7-caracteristicas-que-deben-tener/" class="btn btn-primary">Mas Informacion</a>
          </div>
    </div>
</div>
<br>
<br>
<div class="row">                                            
 
    <div class="col-md-4 animated fadeIn fast" >
        <img class="card-img-top img-fluid" src="../../../assets/img/Pitusas.jpg" height="500px" width="500px">
        <div class="card-block">
            <h5 class="card-title">LAS ALPARGATAS PITUSAS MARCAN TENDENCIA EN PRIMAVERA Y VERANO</h5>
            <p class="card-text">Es hora de que conozcáis una de las marcas más prometedoras de alpargatas con el sello Made in Spain. Las alpargatas Pitusa marcan tendencia 
                en primavera y verano con diseños personales y originales, pero sobre todo, por ser confortables…</p>
                 <a href="https://reinventandoelcalzado.es/las-alpargatas-pitusas-marcan-tendencia-en-primavera-y-verano/" class="btn btn-primary">Mas Informacion</a>
          </div>
    </div>
</div>



  